<% layout('layout/index') -%>

    <div class="container">
        <div class="omb_login">
            <h3 class="omb_authTitle">Đăng ký</h3>

            <div class="row omb_row-sm-offset-3">
                <div class="col-xs-12 col-sm-6">
                    <form class="omb_loginForm" action="" autocomplete="off" method="POST">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input type="text" class="form-control" name="email" placeholder="Email">
                        </div>
                        <span class="help-block"></span>

                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>

                        <span class="help-block"></span>

                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>
                            <input type="password" class="form-control" name="re_password" placeholder="Nhập lại password">
                        </div>

                        <span class="help-block"></span>

                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                            <input type="text" class="form-control" name="fullname" placeholder="Họ tên">
                        </div>

                        <span class="help-block"></span>

                        <div class="form-group">
                            <input type="file" id="avatar" name="avatar">
                        </div>

                        <br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Đăng ký</button>
                    </form>
                </div>
            </div>
        </div>



    </div>
