<% layout('layout/index') -%>

    <div class="container">
        <div id="myDIV" class="header">
            <h2>To do App</h2>

            <form id="formAdd" class="form-inline" action="/addTask" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" id="content" placeholder="Nhập công việc" name="content" required>
                    <input type="date" class="form-control" id="start_date" placeholder="Bắt đầu" name="start_date" required>
                    <input type="date" class="form-control" id="end_date" placeholder="Kết thúc" name="end_date" required>
                </div>
                <button onclick="validateAddInput()" type="button" class="btn btn-default">Thêm</button>
            </form>
        </div>

        <div id="0">
        </div>

        <!-- Modal add child task-->
        <div class="modal fade" id="addChildTaskModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Nhập nội dung task con</h4>
                    </div>
                    <div class="modal-body">
                        <form id="formAddChild" class="form-inline" action="/addTask" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" id="child_content" placeholder="Nhập công việc" name="content" required>
                                <input type="date" class="form-control" id="child_start_date" placeholder="Bắt đầu" name="start_date" required>
                                <input type="date" class="form-control" id="child_end_date" placeholder="Kết thúc" name="end_date" required>
                                <input type="hidden" name="parent_id" id="parent_id" value="">
                                <button id="btnAddChild" onclick="validateAddChildInput()" type="button" class="btn btn-default">Thêm</button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>

        <!-- Modal edit task -->
        <div class="modal fade" id="editTaskModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Nhập nội dung chỉnh sửa</h4>
                    </div>
                    <div class="modal-body">
                        <form id="formEdit" class="form-inline" action="/editTask" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" id="edit_content" placeholder="Nhập công việc" name="content" required>
                                <input type="date" class="form-control" id="edit_start_date" placeholder="Bắt đầu" name="start_date" required>
                                <input type="date" class="form-control" id="edit_end_date" placeholder="Kết thúc" name="end_date" required>
                                <input type="hidden" name="taskId" id="taskId" value="">
                                <button id="btnEditTask" onclick="validateEditInput()" type="button" class="btn btn-default">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>


        <!-- Modal upload thumnails for task-->
        <div class="modal fade" id="uploadThumbnailModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Upload thumbnail</h4>
                    </div>
                    <div class="modal-body">
                        <form id="formUploadThumbnail" class="form-inline" action="/uploadThumbnail" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <div class="section">Note: Only image files are allowed.</div>
                                <div class="preview">
                                    <img id="preview" src="">
                                </div>
                                <div class="inner-wrap">
                                    <label>
                                        <input type="hidden" name="task_upload_id" id="task_upload_id" value="" />
                                        <input type="file" id="photo" name="photo" />
                                    </label>
                                    <div class="button-section">
                                        <input type="button" name="uploadBtn" id="uploadBtn" value="Upload Photo" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <script src="javascripts/uploadThumbnail.js"></script>