<!-- <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Adtima Team Tech</a>
        </div>

        <div class="pull-right">
            <ul class="nav pull-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, User
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/user/preferences">
                                <i class="icon-cog"></i> Preferences</a>
                        </li>
                        <li>
                            <a href="/help/support">
                                <i class="icon-envelope"></i> Contact Support</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/auth/logout">
                                <i class="icon-off"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav> -->

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://localhost:3000/#">
                <img id="logo" alt="Brand" src="https://stc.adtima.vn/static/default/frontend/images/logo_adtima.1.0.1.png">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <a href="http://localhost:3000/#">
                <img src="images/avatar.png" alt="Avatar" class="avatar">
            </a>
            <div class="pull-right">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Thâm
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-user"></i> Profile</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-log-out"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>