<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://localhost:3000/#">
                <img id="logo" alt="Brand" src="https://stc.adtima.vn/static/default/frontend/images/logo_adtima.1.0.1.png">
            </a>
        </div>

        <div class="collapse navbar-collapse nav-header" id="bs-example-navbar-collapse-1">
            <a href="http://localhost:3000/#">
                <img src="/images/avatar.png" alt="Avatar" class="avatar">
            </a>

            <div class="pull-right">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Thâm
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/users/profile">
                                    <i class="glyphicon glyphicon-user"></i> Profile</a>
                            </li>
                            <li>
                                <a href="/auth/logout">
                                    <i class="glyphicon glyphicon-log-out"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                 <div class="loginBtn">
                    <a href="/users/login">Đăng nhập</a>
                </div> 

            </div>
        </div>
    </div>
</nav>