<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>To-do App</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/user.css">
  <link rel="icon" href="/images/todo-icon.png">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
</head>

<body>
  <div id="container">
    <div id="header">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="http://localhost:3000/#">
              <img id="logo" alt="Brand" src="https://stc.adtima.vn/static/default/frontend/images/logo_adtima.1.0.1.png">
            </a>
          </div>



          <div class="collapse navbar-collapse nav-header" id="bs-example-navbar-collapse-1">

            <% if(data.isLogged) { %>
              <div>
                <a href="http://localhost:3000/">
                  
                </a>

                <div class="pull-right">
                  <ul class="nav pull-right">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tri Tham
                        <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="/users/profile">
                            <i class="glyphicon glyphicon-user"></i>Profile</a>
                        </li>
                        <li>
                          <a href="/tasks">
                            <i class="glyphicon glyphicon-tasks"></i>Tasks</a>
                        </li>
                        <li>
                          <a href="/auth/logout">
                            <i class="glyphicon glyphicon-log-out"></i>Đăng xuất</a>
                        </li>
                      </ul>
                    </li>
                  </ul>

                </div>
              </div>
              <% } else { %>
                <div class="signBtnFrame">
                  <div class="signBtn">
                    <a href="/auth/login">Đăng nhập</a>
                    /
                    <a href="/users/signup">Đăng ký</a>
                  </div>
                </div>

                <% } %>

          </div>
        </div>
      </nav>
    </div>

    <div id="body">
      <%- body -%>
    </div>
  </div>
  <div id="footer">
    <% include footer %>
  </div>
  </div>

  <script src="lib/moment.js"></script>
  <script src="javascripts/loadTasks.js"></script>
  <script src="javascripts/index.js"></script>
  <script src="javascripts/buttonsEvent.js"></script>
  <script src="javascripts/validateInput.js"></script>
  <script src="javascripts/eventHandler.js"></script>
</body>

</html>